.not-found-main-container {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1723872366/7887403_3796506_hbk3fj.jpg);
  background-position: center;
  background-size: cover;
}
